<div ng-controller="ProjectController as pc" ng-cloak ng-init="pc.init()">  		
  	<md-content class="md-padding" layout-xs="column" layout="row" >
			<form name="searchForm" novalidate flex="100" layout="row" layout-align="center center" >
	  			<div flex="10" flex-xs="100" layout="column" >
				    <md-button 
				    	ng-click="pc.createNew($event)" 
				    	class="md-fab md-accent md-fab-top-left" 
				    	aria-label="New">
				    	<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
				    	<md-tooltip>{{'CRUDS.PROJECTS.LABELS.BUTTONS.NEW' | translate }}</md-tooltip>
					</md-button>
				</div>
	    		<md-input-container  class="md-block" flex="60">
			    	<label translate>CRUDS.PROJECTS.LABELS.FIELDS.SEARCH</label>
			    	<input ng-minlength="3" name="searchTerm" 
			    		ng-model="pc.pageRequest.searchTerm" 
			    		ng-model-options="{ updateOn: 'default', debounce: { 'default': 1000 } }" />
			    	<div ng-messages="searchForm.searchTerm.$error">
	                    <div ng-message when="minlength">
	                        <span translate>CRUDS.PROJECTS.MESSAGES.VALIDATION.SEARCH_TERM_LENGTH</span>
	                    </div>
	                </div>
			    </md-input-container>		    
				<md-switch flex="30" class="md-warn" ng-model="pc.pageRequest.onlyActives" 
					aria-label="{{'CRUDS.PROJECTS.LABELS.FIELDS.ONLY_ACTIVES' | translate }}" >
				    {{'CRUDS.PROJECTS.LABELS.FIELDS.ONLY_ACTIVES' | translate }}
				</md-switch>
			</form>
	</md-content>
				
  	<md-content class="md-padding" layout-xs="column" layout="row" >
  		<div flex="95" flex-xs="100" layout="column" ng-show="pc.searchResult.totalElements > 0">
		  	<md-content class="md-padding" layout-xs="column" layout="row">
		    	<div flex-xs flex-gt-xs="33" layout="column" ng-repeat="column in pc.searchResult.columns">
			    	<md-card ng-repeat="project in column" >
				   		<md-card-content>
				       		<div class="content-padded">
				           		<h2 class="md-title">{{ project.title }}</h2>
				           		<p>{{ project.summary }}</p>
				       		</div>
				        	<md-divider></md-divider>
				        	<div class="button-toolbar" layout="row" layout-align="end center">
				            	<md-button class="md-accent"ng-click="pc.open($event, project)">{{ 'CRUDS.PROJECTS.LABELS.BUTTONS.OPEN' | translate }}</md-button>
				            	<md-button class="md-primary" ng-click="pc.detail($event, project)">{{ 'CRUDS.PROJECTS.LABELS.BUTTONS.EDIT' | translate }}</md-button>
				        	</div>
				   		</md-card-content>
					</md-card>		
				</div>
		  	</md-content>
		  	<div ng-show="false">
		  		<span 
		  			dir-paginate="reg in pc.searchResult.content|itemsPerPage:pc.pageRequest.pageSize" 
		  			total-items="pc.searchResult.totalElements" 
		  			current-page="pc.searchResult.number" />
		  	</div>  	
		    <dir-pagination-controls 
		    	max-size="2" 
		    	direction-links="true" 
		    	boundary-links="true" 
		    	total-items="pc.searchResult.totalElements" 
		    	current-page="pc.searchResult.number"
		    	on-page-change="pc.onPageChange(newPageNumber)">
		    </dir-pagination-controls>
		</div>
	</md-content>
  	<md-content 
  		class="md-padding" 
  		ng-show="pc.searchResult.totalElements <= 0" 
  		layout="column" 
  		layout-align="center center"
  		flex="100" flex-xs="100" >	
  	  	<p flex="100" flex-xs="100" layout="row" layout-align="center center" ng-show="pc.searchResult.totalElements <= 0">
  	  		{{ 'CRUDS.PROJECTS.MESSAGES.NO_PROJECTS' | translate}}
  	  	</p>  	  	
  		<div  flex="100" flex-xs="100" layout="row" layout-wrap layout-margin layout-align="center center" ng-show="pc.searchResult.totalElements <= 0">
	  		<md-button class="md-grid-item-content" ng-click="pc.createNew($event)">
	          <md-icon md-font-icon="fa fa-magic"></md-icon>
	          <div class="md-grid-text" >{{ 'CRUDS.PROJECTS.MESSAGES.NEW_PROJECT' | translate}}</div>
	        </md-button>
       	</div>
  	</md-content>
    
</div> 