<div class="md-toolbar-tools" ng-controller="LoginController as loginController">

    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" style="border-style: none !important;">
      <md-nav-item md-nav-href="#projects" name="page1">HOME</md-nav-item>
      <md-nav-item md-nav-href="#projects" name="page2">PROJETOS</md-nav-item>
        <md-nav-item md-nav-href="#clients" name="page2">CLIENTES</md-nav-item>
    </md-nav-bar>
    <md-button class="md-icon-button" ng-if="!vm.hideMenuButton()" ng-click="vm.openSideNav('left')" aria-label="side navigation">
        <md-icon md-font-icon="zmdi zmdi-menu"></md-icon>
    </md-button>

    <h2 hide-xs flex>
        <span ng-repeat="crumb in vm.breadcrumbs.crumbs">
            <span translate>{{crumb.name}}</span>
            <md-icon md-font-icon="zmdi zmdi-chevron-right" ng-if="!$last"></md-icon>
        </span>
    </h2>

    <md-menu>
        <md-button aria-label="Open user menu" ng-click="$mdOpenMenu()" aria-label="side navigation">
            <img class="toolbar-user-avatar" ng-src="assets/images/avatars/avatar-5.png">
            {{loginController.getUserInfo().nome}}
        </md-button>
        <md-menu-content width="4">
            <md-menu-item>
                <md-button ng-click="vm.toggleNotificationsTab(2)" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-settings"></md-icon>
                    <span translate="Settings"></span>
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button href="#/profile" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-account"></md-icon>
                    <span translate="Profile"></span>
                </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
                <md-button ng-click="loginController.logout()" aria-label="side navigation">
                    <md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>
                    <span translate="Logout"></span>
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
