<div ng-controller="ClientController as controller" ng-cloak ng-init="controller.init()">
  	<md-content class="md-padding" layout-xs="column" layout="row" >
			<form name="searchForm" novalidate flex="100" layout="row" layout-align="center center" >
	  			<div flex="10" flex-xs="100" layout="column" >
				    <md-button
				    	ng-click="controller.createNew($event)"
				    	class="md-fab md-accent md-fab-top-left"
				    	aria-label="New">
				    	<md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
				    	<md-tooltip>New</md-tooltip>
					</md-button>
				</div>
	    		<md-input-container  class="md-block" flex="60">
			    	<label>Search...</label>
			    	<input ng-minlength="3" name="searchTerm"
			    		ng-model="controller.pageRequest.searchTerm"
			    		ng-model-options="{ updateOn: 'default', debounce: { 'default': 1000 } }"
                        ng-disabled="controller.searchResult.totalElements <= 0"/>
			    	<div ng-messages="searchForm.searchTerm.$error">
	                    <div ng-message when="minlength">
	                        <span>Please inform a term with 3 characters at least.</span>
	                    </div>
	                </div>
			    </md-input-container>
			</form>
	</md-content>

  	<md-content class="md-padding" layout-xs="column" layout="row" >



        <div content-layout="column" content-layout-align="center" layout-align="space-between" layout-margin>
            <md-table-container>
                <table md-table class="md-primary md-data-table">
                    <thead md-head>
                    <tr md-row>
                        <th md-column width="50%" ><span>Name</span></th>
                        <th md-column width="30%" ><span>Surname</span></th>
                        <th md-column width="15%" ><span>Email</span></th>
                        <th md-column width="5%" name="Editar"></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row
                            ng-repeat="client in controller.searchResult.content">
                            <td
                                md-cell>
                                {{::client.name}}
                            </td>
                            <td
                                md-cell>
                                {{::client.surname}}
                            </td>
                            <td
                                md-cell>
                                {{::client.email}}
                            </td>
                            <td
                                md-cell>
                                <div layout="row" layout-align="end">
                                    <a href ng-click="controller.detail($event, client)" >
                                        <md-button class="md-icon-button" aria-label="Editar" style="margin: 0px;">
                                            <md-icon md-font-icon="zmdi zmdi-edit"></md-icon>
                                            <md-tooltip>Editar</md-tooltip>
                                        </md-button>
                                    </a>
                                    <a href ng-click="controller.confirmDelete(client, $event)" >
                                        <md-button class="md-icon-button" aria-label="Deletar" style="margin: 0px;"	>
                                            <md-icon md-font-icon="zmdi zmdi-delete"></md-icon>
                                            <md-tooltip>Deletar</md-tooltip>
                                        </md-button>
                                    </a>
                                </div>
                            <td>

                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination
                md-limit="controller.pageRequest.pageSize" md-page-select md-page="controller.searchResult.number"
                md-total="{{controller.searchResult.totalElements}}"  md-on-paginate="controller.onPageChange" >
            </md-table-pagination>
        </div>




	</md-content>
  	<md-content
  		class="md-padding"
  		ng-show="controller.searchResult.totalElements <= 0"
  		layout="column"
  		layout-align="center center"
  		flex="100" flex-xs="100" >
  	  	<p flex="100" flex-xs="100" layout="row" layout-align="center center" ng-show="controller.searchResult.totalElements <= 0">
            No clients in the database. Please add one.
  	  	</p>
  	</md-content>

</div>
